body {
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background: white;
  max-width: 600px;
  width: 100%;
  min-width: 400px;
  max-height: 850px;
  box-shadow: 0 4px 10px #555;
  margin: 200px auto;
  padding: 20px 20px 50px 20px;
  overflow: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 20px;
  color: #666;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 10px 10px 10px;
  letter-spacing: 3px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.form {
  width: 100%;
  height: 40px;
  margin: 30px 20px 10px 10px;
  display: flex;
}
.form_input {
  flex: 4;
  border: none;
  outline: none;
  border-bottom: 1px solid #00000028;
  margin-right: 30px;
  margin-left: 40px;
}
.button_create {
  flex: 1;
  background: rgb(121, 118, 118);
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  margin-right: 55px;
}
.list {
  margin-top: 25px;
}
.ul_li {
  list-style: none;
  border: none;
  margin: 10px 60px 0 0;
  /* padding: 10px; */
  border-bottom: 1.5px solid #55555549;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.list_parent {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin-right: 0px;
}
.list_parent label {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list_parent p {
  margin-left: auto;
  margin-right: 10px;
  opacity: 0.4;
}

ul li .active {
  opacity: 0.5;
  text-decoration: line-through;
}

ul li input,
.row input {
  margin-right: 5px;
  transform: translateY(1px);
}

ul li button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.list_container_nested {
  list-style: none;
  border: none;
  margin: 8px 105px 0 0;
  padding: 2px 0 5px;
  border-bottom: 1.5px solid #5555552a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.list_container_nested input[type="text"] {
  margin: 0 0 0px 40px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 35px;
}
.row p {
  letter-spacing: 1px;
  opacity: 0.6;
}
.row #delete {
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  background: rgb(215, 58, 165);
}

label {
  cursor: pointer;
}
@media (max-width: 400px) {
  .App {
    padding: 10px;
  }
}
